

<section style="background-color:lightsteelblue;border-radius: 25px; opacity: 95%; z-index:99;">

<div class="background-img vh-100 vw-100" >
    <div class="header">
            <h1> Portfolio Manager</h1>
            <h3>This is a portfolio tracker that allows you to add, update and remove stocks you are managing in your personal portfolio.</h3>
            <h4> Please direct yourself to the stock tab to create and manage your portfolio.</h4>
    </div>
    
</div>
</section>

<style>
    .background-img{
        background-image: url("../image/esports-stocks.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 0;
    }
</style>
